# Xcode
build/
DerivedData/
*.xcworkspace
!default.xcworkspace
*.xcuserstate
xcuserdata/

# Swift Package Manager
.build/

# CocoaPods
Pods/

# Carthage
Carthage/Build/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output/

# macOS
.DS_Store

# Logs
*.log

# Environment / secrets
.env
*.env

# Archives
*.xcarchive

# Temporary files
*.swp
*.lock
